{% extends 'base.html' %}

{% block title %}Envol Vert{% endblock %}

{% block content %}
    <div class="container text background">
        <h1> L'association </h1>
        <p><span class="bold">Envol vert</span> est une association de protection de la forêt et de développement rural. Depuis 2011 nous luttons pour la <span class="bold">préservation de la forêt et de la biodiversité</span> dans les pays les plus défavorisés et en France, tout en créant des <span class="bold">liens forts avec les populations locales</span> pour favoriser leurs <span class="bold">initiatives de préservation</span>, participer à un <span class="bold">développement rural soutenable</span> et développer des <span class="bold">alternatives économiques</span> à la déforestation.</p>
        <br>
        <p>Notre vidéo de présentation :</p>
        <div class="text-center"><iframe width="800em" height="450em" src="https://www.youtube.com/embed/5Zzytpqj1Tw?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
{% endblock %}